/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { padding-top: 80px};

div.sm-jumbotron{
    margin: 0px;
    padding: 2rem;
    background-color: #15756b;
    color: #fff;
}

button.btn-submit{
    background-color: #15756b;
    color: #fdd;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: #15756b;
}

